name: Build & Test

on:
  push:
    branches: 
      - main
      - master
      - staging
    paths:
      - '**/*cs'
      - '**/*csproj'
      - '**/*sln'
  pull_request:
    branches: 
      - main
      - master
      - staging
    paths:
      - '**/*cs'
      - '**/*csproj'
      - '**/*sln'
  workflow_dispatch:

jobs:
  build_and_test:
    strategy:
      fail-fast: false
      matrix:
        os: ['Windows-latest', 'ubuntu-latest', 'macOS-latest']
        preview_version: ['net6.0']
        
    defaults:
      run:
        shell: pwsh
    
    env: 
      GITHUB_NUGET_RO: ${{ secrets.GITHUB_TOKEN }}

    runs-on: ${{ matrix.os }}
    
    name: ${{ matrix.os }} with .NET ${{ matrix.dotnet-version }}
    
    steps:
    - uses: actions/checkout@v2
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '5.0.x'

    - name: Setup .NET preview
      if: matrix.preview_version != ''
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.100-preview.1.21103.13'
      
      # https://github.com/actions/setup-dotnet/issues/155
    - name: Resetting nuget
      run: |
        dotnet clean -c Release && dotnet nuget locals all --clear
      
    - name: Get floating-point data
      run: |
        git clone https://github.com/Ilia-Kosenkov/parse-number-fxx-test-data
        echo "PARSE_NUMBER_FXX_TEST_DATA_ROOT=$([System.IO.Path]::GetFullPath("./parse-number-fxx-test-data"))" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append

    - name: Install dependencies
      run: dotnet restore
      
    - name: Build
      run: |
        dotnet build -c Release --no-restore

    - name: Test .NET Standard 2.1 using .NET 6.0 preview
      if: matrix.preview_version != ''
      run: dotnet test --no-restore --verbosity normal -f $env:DOTNET_EXTRA_TARGET
      env:
        DOTNET_EXTRA_TARGET: ${{ strategy.matrix.preview_version }}

    - name: Test .NET Standard 2.1 using .NET 5.0
      run: dotnet test --no-restore --verbosity normal -f net5.0
      
    - name: Test .NET Standard 2.0 using Legacy Framework / Mono
      run: dotnet test --no-restore --verbosity normal -f net4.8
