name: Build & Test

on:
  push:
    branches: 
      - main
      - master
      - staging
  pull_request:
    branches: 
      - main
      - master
      - staging

jobs:
  build_and_test:
    strategy:
      fail-fast: false
      matrix:
        dotnet-version: [ '5.0.100' ]
        os: ['Windows-latest', 'ubuntu-latest', 'macOS-latest']
        
    runs-on: ${{ matrix.os }}
    
    name: ${{ matrix.os }} with .NET ${{ matrix.dotnet-version }}
    
    steps:
    - uses: actions/checkout@v2
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.100
    
    - name: Setup Mono on Linux
      if: startsWith(runner.os, 'linux')
      run: sudo apt install mono-devel -y
    
    - name: Setup Mono on MacOS
      if: startsWith(runner.os, 'macOS')
      run: brew install --cask mono-mdk
      
    - name: Install dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build -c Release --no-restore
      
    - name: Test .NET Standard 2.1 using .NET 5.0
      run: dotnet test --no-restore --verbosity normal -f net5.0
      
    - name: Test .NET Standard 2.0 using Legacy Framework / Mono
      run: dotnet test --no-restore --verbosity normal -f net4.8
